// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
  display:none;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* globals */
.logo{
  font-size:40px;
}

.clear{
  clear:both;
}

.center{
  text-align:center;
}

#ham-nav {
  position: absolute;
  top: 0px;
  left:0px;
  background-color:transparent;
  display:none;
  z-index:10000
}

#ham-nav-open{
  position: relative;
  top: 5px;
  left: 15px;
  font-size: 25px;
}

#ham-nav-close{
  font-size:25px;
  position:relative;
  left:212px;
  display:none; 
}

#ham-list{
  width:250px;
  padding: 10px 40px 30px 10px;
  display:none;
}

#ham-list li a { 
  margin: 0px;
  display: block;
  width: 100%;
  height: 100%; 
}

#nav-user-name{
  display:inline-block;
  float:left
}

#nav-profile-button{
  font-size:25px;
  position:relative;
  left:140px;
  top:-10px;
  display:inline-block
}

#nav ul.list-group{
  list-style-type:none;
}

.show-nav{
  display:block !important;
}
.tab-heads{
  font-size:10px;
}
.page-title{
  text-align:center;
  margin-bottom:15px;
}

.center-parent {
  text-align: center;
}
 
.nav-pills.pull-right{
  float: none !important;  
} 

.footer{
  padding-left: 0px;
  padding-right: 0px;
}

.nav-pills > li {
  float: left;
  outline: #337ab7;
  outline-style: solid;
  outline-width: thin;
  width: 64px;
  text-align: center;
}

.tab-format  .info{
  padding:10px 20px;
}

.tab-format .nav > li > a {
  font-size: 11px;
}

.tab-format .info{
  padding:10px 20px;
}

.modal{
  top:72px;
}

/* The ghost, nudged to maintain perfect centering */
.center-parent:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can
   also be of any width and height */ 
.centered {
  display: inline-block;
  vertical-align: middle;
}

.info .title{
  font-weight:bold; 
}

.show-footer{
  display:block;
}

/* daily */
#daily .tips{
  position: absolute;
  top: 11px;
  font-size: 22px;
  right: 16px;
}

#daily .date-buttons{
  display:inline-block;
  font-size:30px;
}

#daily .date-selected{
  display:inline-block; 
  float:left; 
  margin-top:11px;
}

#daily .date-buttons.left{
  float:left; 
}

#daily-tabs div.input-group{
  width:100%;
}

#daily-tabs span.input-group-addon{
  width:41px;
}

#daily-tabs input{
  width:100%;
  margin-bottom:1px; 
}

#daily .nav-tabs,#daily .tab-content{
  margin: auto 8px;
}

#daily .tab-heads:first-child{
  padding-left:0px;
}

#daily .nav > li > a{
  padding-left: 9px;
  padding-right: 9px;
  font-size:9px
}

#daily .pick-date{
  margin-bottom:10px;
}

#daily #yearly-view{
  text-align:center; 
  margin-top:50px;
}

#daily #yearly-view .options{
  display:inline-block;
  width:300px;
  max-width:300px;
}

#daily #yearly-view .options .month-box{
  width: 40px;
  height: 40px;
  background-color:gray;
  text-align:center;
  padding-top:10px;
}

#daily .mental-note{
  background-color:red;
  border-color:red;
}

#daily .physical-note{
  background-color:green;
  border-color:green;
}

#daily .emotional-note{
  background-color:blue;
  border-color:blue;
}

#daily  .spiritual-note{
  background-color:yellow;
  border-color:yellow;
}

#daily .month-box{ margin-right:90px; margin-bottom:30px; float:left }
#daily .month-box-clear{margin-right:0px;}

/* appearances */
#appearances .info{
  padding:10px 20px;
}
#appearances .tab-content{
  padding: 0px 14px;
}

/* recos */
#recos .fa-book{
  font-size:35px;
}

#recos .info .text{
  font-size:10px;
}

#recos img{
  width:100px;
}

/* contact us */

#contact #contact-form{
  margin-top:20px;
}

#contact div.form-group{
  width: 75%;
  float: left;
  display: inline-block; 
  max-width: 75%; 
}

#contact textarea{
  resize: none;
}

#contact .message-sent{
  height:300px;
}

#contact textarea{
  height:48px;
}

#contact button.submit{
  width:75px;
  float:right;
  margin-right:72px
}

#contact #or-text{
  margin-top:30px;
  text-align:center;
}

#contact #or-buttons{
  text-align:center;
  font-size:28px;
  margin-top:05px
}

#contact #or-buttons i.fa:first-child{
  margin-left: 0px;
}

#contact #or-buttons i.fa, #contact #or-buttons span {
  margin-left: 10px;
}

/* podcasts */
#podcast{
  height:400px;
}

#podcast ul.nav-tabs li a{
  height:82px;
}


#podcast .info{
  border-bottom-color: #337ab7;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-left-style: solid;
  border-left-width: thin;
  border-left-color: #ddd;
  border-right-style: solid;
  border-right-width: thin;
  border-right-color: #ddd;
  padding: 20px 10px;
}

#podcast .info:last-child{
  border-bottom-color: #ddd;
}

#podcast ul.nav-tabs{
  padding-left:5px;
}


#podcast .nav-tabs > li > a{
  padding-left: 5px !important; 
  padding-right: 5px !important;
}

#podcast .nav > li > a{
  padding-left: 5px;
  padding-right: 5px;
  font-size: 9px;
}

#podcast ul.nav-tabs li a {
  height: 40px;
  text-align: center;
}

#podcast .tab{
  max-width:110px;
}

#podcast .info .views{
  margin-left:10px;
}

#podcast .info .info-button{
  margin-left:10px;
}

#podcast button.back{
  margin-bottom:10px;
}

#podcast #current-podcast-img{
  text-align:center;
  border:thin solid;
  padding:33px 0px;
}

#podcast #current-podcast-holder #current-podcast-img i{
  font-size:200px;
}

#podcast #current-podcast-holder .title{
  padding-top:10px;
  display:inherit;
}

#podcast #current-podcast-holder #playPause{
  font-size:50px;
  margin-top:20px;
  float:left;
  display:inline-block;
}

#podcast #current-podcast-holder #playPause .play{
  float:left;
}

/*login*/
#login{
  margin:0 auto;
  max-width:80%
}

#login .logo{
  text-align:center;
  margin-top:150px;
  margin-bottom:20px;
}

#login button.register{
  margin-bottom:20px;
}

#login #login-buttons{
  width:100%;
  text-align:center;
  margin-top:20px;
}

#login #login-buttons .fa{
  font-size:40px;
  padding: 0px 10px;
}

#login .or-text{
  text-align:center; 
  display:inline-block;
  width:100%; 
  margin: 10px 0px;
}

#login .forgot-password{
  text-align:right;
  display:inherit;
  margin-top:5px;
}

/* register */
#register .complete{
  height:300px;
}

#register .logo{
  position:relative;
}

#register .logo .logo-positioner{
  position:absolute;
  left:10%;
  top:05px
}

#register .title{
  margin-bottom:20px;
  display:inline-block;
}

#register .is-required{
  font-style: italic;
  text-align:right;
  width:100%;
  display:inline-block;
}

/* newsfeed */
#newsfeed .tab-holder{
  min-height:307px;
}

#newsfeed insider-text{
  font-size:12px;
}

#newsfeed button.submit{
  width:75px;
  float:right;
}

/* modal */
#modal-basic{
  padding:20px;
}

#modal-basic i.close{
  float:right;
  position:relative;
  top:-20px;
  left:17px;
  font-size:28px;
  color:#333;
  opacity:1;
}
