<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.) styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
        <link rel="stylesheet" href="bower_components/fullcalendar/fullcalendar.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
    </head>
    <body ng-app="askAltucher" ng-controller="MainCtrl as main">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- Add your site or application content here -->
        <div class="container">
            <div ng-view=""></div>
            <div ng-if="main.userNav.show" id="ham-nav" ng-class="{'show-nav': main.userNav.show}">
                <div id="ham-nav-open" ng-click="main.navToggle();">
                    <i class="fa fa-bars"></i>
                </div>
                <div id="ham-nav-close" ng-click="main.navToggle();">
                    <i class="fa fa-close"></i>
                </div>
                <div id="ham-list">
                    <div id="nav-user-name">{{main.status.userName}}</div>
                    <div id="nav-profile-button">
                        <i class="fa fa-caret-down"></i>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><a ng-click="main.navToggle()" ng-href="#/daily">Daily</a></li>
                        <li class="list-group-item"><a ng-click="main.navToggle()"  ng-href="#/podcast">Podcast</a></li>
                        <li class="list-group-item"><a ng-click="main.navToggle()" ng-href="#/recos">Books</a></li>
                        <li class="list-group-item"><a ng-click="main.navToggle()" ng-href="#/newsfeed">Newsfeed</a></li>
                        <li class="list-group-item"><a ng-click="main.navToggle()" ng-href="#/appearances">Appearances</a></li>
                        <li class="list-group-item"><a ng-click="main.navToggle()" ng-href="#/contact">Contact</a></li>
                        <li class="list-group-item"><a ng-href="">Settings</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-XXXXX-X');
            ga('send', 'pageview');
        </script>
        <!-- build:js(.) scripts/oldieshim.js -->
        <!--[if lt IE 9]>
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/json3/lib/json3.js"></script>
        <![endif]-->
        <!-- endbuild -->
        <!-- build:js(.) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-touch/angular-touch.js"></script>
        <script src="bower_components/moment/moment.js"></script>
        <script src="bower_components/ngstorage/ngStorage.js"></script>
        <script src="bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js"></script>
        <script src="bower_components/angular-messages/angular-messages.js"></script>
        <script src="bower_components/jquery-ui/ui/jquery-ui.js"></script>
        <script src="bower_components/fullcalendar/fullcalendar.js"></script>
        <script src="bower_components/angular-ui-calendar/src/calendar.js"></script>
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/services/user.js"></script>
        <script src="scripts/services/modalService.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/daily.js"></script>
        <script src="scripts/controllers/register.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/contact.js"></script>
        <script src="scripts/controllers/appearances.js"></script>
        <script src="scripts/controllers/recos.js"></script>
        <script src="scripts/controllers/podcast.js"></script>
        <script src="scripts/controllers/newsfeed.js"></script>
        <script src="scripts/controllers/modalCtrl.js"></script>
        <!-- endbuild -->
    </body>
</html>