<div id="appearances" class="row-container">
    <h2 class="page-title">Appearances</h2>
    <tabset>
    <tab heading="Upcoming">
    <h3>2015</h3>
    <div class="info" ng-repeat="info in appearances.upcoming | orderBy: 'date' : true">
        <p>
        {{info.date | date:'MMM dd'}} - <span ng-if="info.location">&nbsp; {{info.location}} <br/></span>
        {{info.info}}
        </p>
    </div>
    </tab>
    <tab heading="Previous">
    <h3>2014</h3>
    <p>James and Claudia will be at KRIPALU (Massachusetts) on November 21st to 23rd, 2014, for a weekend of yoga, rejuvenation and frank talk. It is a yoga retreat but James will give a talk on Saturday afternoon with questions and answers.</p>
    <p>And also stay tuned for the <a href="http://www.jamesaltucher.com/ask-altucher/" target="_blank">AskAltucher</a> podcast that comes out daily.</p>
    <p>TEDx San Diego November 8th, 2014.  Link to come when the talk is up.</p>
    <p>James recently had <a href="http://99u.com/articles/20576/5-ways-to-do-nothing-and-become-more-productive" target="_blank">THE MOST READ ARTICLE EVER on 99U</a></p>
    <p>Here is a recent <a href="http://www.reddit.com/r/IAmA/comments/1ru9aw/ama_request_someone_who_made_millions_and_then/cdqz6cp" target="_blank">AMA he did on ReddIt for eight hours</a>!</p>
    <p>Also he’s been on <a href="http://techcrunch.com/2013/11/29/how-to-sell-your-business-and-make-and-lose-millions/" target="_blank">Techcrunch</a>, <a href="http://www.forbes.com/sites/jamesaltucher/2013/11/22/how-to-be-a-jedi-knight/" target="_blank">Forbes</a> and <a href="http://www.cracked.com/blog/5-horrifying-truths-about-being-medical-doctor/" target="_blank">Cracked.com</a></p>
    <p>Now a regular columnist, <a href="http://observer.com/author/james-altucher/" target="_blank">you can find him at the New York Observer</a>, and just a few days ago he was featured on the cover of the print issue.</p>
    </tab>
    </tabset>
</div>