<div id="contact" class="row-container">
    <h2 class="center">Contact</h2>
    <div ng-if="!contact.formSubmitted">
        <tabset ng-if="!podcast.currentPodcast">
        <tab heading="Ask Altucher">
        <form id="contact-form" name="myForm" novalidate>
            <div class="form-group">
                <label for="firstName">Name</label>
                <input type="text" name="firstName" ng-model="contact.firstName" class="form-control" required>
                <div ng-messages="myForm.firstName.$error" ng-if="myForm.firstName.$dirty && myForm.firstName.$touched">
                    <div ng-message="required">
                        Please enter a name
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email"  ng-model="contact.email" class="form-control" required>
                <div ng-messages="myForm.email.$error" ng-if="myForm.email.$dirty && myForm.email.$touched">
                    <div ng-message="required">
                        Please enter email
                    </div>
                    <div ng-message="email">
                        Please enter a valid email
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="ask">Question</label>
                <textarea rows="3" name="ask" ng-model="contact.ask" class="form-control" required>
                </textarea>
                <div ng-messages="myForm.ask.$error" ng-if="myForm.ask.$dirty && myForm.ask.$touched">
                    <div ng-message="required">
                        Please enter a question
                    </div>
                </div>
            </div>
            <button class="submit" ng-click="contact.submitForm('ask', contact.ask)" class="form-control" ng-disabled="myForm.$invalid">Submit</button>
        </form>
        </tab>
        </tabset>
        <br class="clear"/>
        <p id="or-text">Or text, email, tweet, quora.</p>
        <section id="or-buttons">
            <i class="fa fa-mobile"></i>
            <i class="fa fa-envelope-o"></i>
            <i class="fa fa-twitter-square"></i>
            <span>Q</span>
        </section>
    </div>
    <div class="message-sent" ng-if="contact.formSubmitted">
        Your message has been sent!
        <br/>
        <br/>
        <button ng-click="contact.formSubmitted=false">Back</button>
    </div>
    <div class="clear"></div>
</div>