<div id="daily" class="row-container">
    <i ng-if="main.userNav.show" class="fa fa-question-circle tips"></i>
    <h2 class="page-title">Daily Practice</h2>
    <section id="daily-view" ng-if="daily.curView == 'day'">
        <div class="center-parent">
            <section class="pick-date centered">
                <div class="date-buttons left" ng-click="daily.changeDate(false)">
                    <i class="fa fa-chevron-circle-left"></i>
                </div>
                <span class="date-selected" ng-click="daily.changeView('month')">&nbsp;&nbsp;{{daily.date}}&nbsp;&nbsp;</span>
                <div class="date-buttons right" ng-click="daily.changeDate()">
                    <i class="fa fa-chevron-circle-right"></i>
                </div>
            </section>
        </div>
        <tabset id="daily-tabs">
        <tab heading="MENTAL" class="tab-heads" active="daily.currentTab[0].active">
        <div class="input-group" ng-repeat="item in daily[daily.date].mental.item track by $id($index)">
            <span class="input-group-addon">{{$index+1}}</span>
            <input ng-model="daily[daily.date].mental.item[$index]" class="form-control"  type="text"/>
        </div>
        </tab>
        <tab heading="PHYSICAL" class="tab-heads" active="daily.currentTab[1].active" >
        <div class="input-group" ng-repeat="item in daily[daily.date].physical.item track by $id($index)">
            <span class="input-group-addon">{{$index+1}}</span>
            <input ng-model="daily[daily.date].physical.item[$index]" class="form-control" type="text"/>
        </div>
        </tab>
        <tab heading="EMOTIONAL" class="tab-heads" active="daily.currentTab[2].active">
        <div class="input-group" ng-repeat="item in daily[daily.date].emotional.item track by $id($index)">
            <span class="input-group-addon">{{$index+1}}</span>
            <input ng-model="daily[daily.date].emotional.item[$index]" class="form-control" type="text"/>
        </div>
        </tab>
        <tab heading="SPIRITUAL" class="tab-heads" active="daily.currentTab[3].active">
        <div class="input-group" ng-repeat="item in daily[daily.date].spiritual.item track by $id($index)">
            <span class="input-group-addon">{{$index+1}}</span>
            <input ng-model="daily[daily.date].spiritual.item[$index]" class="form-control" type="text"/>
        </div>
        </tab>
        </tabset>
    </section>
    <section id="monthly-view" ng-if="daily.curView == 'month'">
        <div class="center-parent">
            <section class="pick-date centered">
                <div class="date-buttons left" ng-click="daily.changeDateMonth(false)">
                    <i class="fa fa-chevron-circle-left"></i>
                </div>
                <span class="date-selected" ng-click="daily.changeView('year')">&nbsp;&nbsp;{{daily.dateMonth}}&nbsp;&nbsp;</span>
                <div class="date-buttons right" ng-click="daily.changeDateMonth()">
                    <i class="fa fa-chevron-circle-right"></i>
                </div>
            </section>
        </div>
        <div ui-calendar="daily.uiConfig.calendar" class="span8 calendar" ng-model="daily.eventSources"></div>
    </section>
    <section id="yearly-view" ng-if="daily.curView == 'year'">
        <div class="options">
            <div class="month-box" ng-repeat="month in daily.months" ng-class="{'month-box-clear': ($index+1) % 3 == 0}">
                <div ng-click="daily.selectMonth($index)">{{month}}</div>
            </div>
        </div>
    </section>
</div>