<div id="login">
    <div class="logo">
        <i class="fa fa-paper-plane"></i>
    </div>
    <section ng-if="login.submitStatus == 'start'">
        <button ng-click="login.signup()" class="register form-control">Sign Up</button>
        <button ng-click="login.login()" class="form-control">Login</button>
    </section>
    <form ng-if="login.submitStatus == 'login'" name="myForm" novalidate>
        <h2 class="center">Login</h2>
        <div id="login-buttons">
            <i class="fa fa-facebook-square"></i>
            <i class="fa fa-twitter-square"></i>
            <i class="fa fa-google-plus-square"></i>
        </div>
        <span class="or-text">OR</span>

        <div class="form-group">
            <label for="userName">Email</label>
            <input type="text" name="userName" ng-model="login.userName" class="form-control" required/>
            <div ng-messages="myForm.userName.$error" ng-if="myForm.userName.$dirty && myForm.userName.$touched">
                <div ng-message="required">
                    Please enter your email
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" ng-model="login.password" class="form-control" required/>
            <div ng-messages="myForm.password.$error" ng-if="myForm.password.$dirty && myForm.password.$touched">
                <div ng-message="required">
                    Please enter a password
                </div>
            </div>
        </div>
        <div>
            {{login.loginErrorAdvanced}}
        </div>
        <button ng-click="login.submitForm()" class="form-control" ng-disabled="myForm.$invalid">Submit</button>
        <span class="forgot-password">Forgot Password?</span>
    </form>
    <div class="complete" ng-if="login.submitStatus == 'complete'">
        Thanks for signing in {{login.userName}}
    </div>
</div>