<div id="modal-basic">
    <i ng-click="modalBasic.close()" class="fa fa-times-circle-o close"></i>
    <h4>{{modalBasic.title}}</h4>
    <p ng-repeat="content in modalBasic.contentBlocks">{{content}}</p>
</div>