<div id="newsfeed" class="tab-format row-container">
    <h2 class="page-title">Newsfeed</h2>
    <div ng-if="newsfeed.status != 'signedup'">
        <tabset class="tab-holder">
            <tab heading="Blogposts">
                <div class="info" ng-repeat="info in newsfeed.blogpost | orderBy: 'date' : true">
                	<p class="title">
                    {{info.title}}
                    </br/>
                    {{info.date | date:'MMM dd, yyyy'}}
                    </p>
                </div>         
            </tab>
            <tab heading="Twitter">
                <div class="info" ng-repeat="info in newsfeed.twitter | orderBy: 'date' : true">
                	<p class="title">
                    {{info.title}}
                    </br/>
                    {{info.date | date:'MMM dd, yyyy'}}
                    </p>
                </div> 
            </tab>
            <tab heading="Quora">
                <div class="info" ng-repeat="info in newsfeed.quora | orderBy: 'date' : true">
                    <p class="title">
                    {{info.title}}
                    </br/>
                    {{info.date | date:'MMM dd, yyyy'}}
                    </p>
                </div> 
            </tab>
        </tabset>
        <p id="insider-text">Sign up for the James' FREE INSIDER list.</p>
        <form name="myForm" novalidate>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email"  ng-model="contact.email" class="form-control" required>
                <div ng-messages="myForm.email.$error" ng-if="myForm.email.$dirty && myForm.email.$touched">
                    <div ng-message="email">
                        Please enter a valid email
                    </div>
                </div>
            </div>
            <button ng-click="newsfeed.submitForm()" class="form-control submit" ng-disabled="myForm.$invalid">Submit</button>
        </form>
    </div>
    <div ng-if="newsfeed.status == 'signedup'">
        Thanks {{newsfeed.user}} for signing up!
        <br/>
        <br/>
        <button ng-click="newsfeed.goBack();">Back</button>
    </div>
</div>