<div id="podcast" class="row-container">
    <h2 class="page-title">Podcasts</h2>
    <tabset ng-if="!podcast.currentPodcast">
        <tab heading="Ask Altucher" class="tab">
            <div class="info" ng-repeat="info in podcast.ask | orderBy: 'date' : true">
            	<p class="title">Ep {{info.episode}}, {{info.title}}</p>
                <span class="views">{{info.views}}</span>
                <i ng-click="podcast.playPodcast(info.podcast, info.podcastOgg, 'Ep ' + info.episode + ', ' + info.title, info)" class="fa fa-play-circle"></i>
                <i ng-click="podcast.showInfo(info.info)" class="fa fa-info-circle info-button"></i>
            </div>         
        </tab>
        <tab heading="The James Altucher Show" class="tab">
            <div class="info" ng-repeat="info in podcast.james | orderBy: 'date' : true">
                <p class="title">Ep {{info.episode}}, {{info.title}}</p>
                <span class="views">{{info.views}}</span>
                <i ng-click="podcast.playPodcast(info.podcast, info.podcastOgg, 'Ep ' + info.episode + ', ' + info.title, info)" class="fa fa-play-circle"></i>
                <i ng-click="podcast.showInfo(info.info)" class="fa fa-info-circle info-button"></i>
            </div>         
        </tab>
        <tab heading="Choose Yourself Stories" class="tab">
            <h2>TBD</h2>
            <div class="info" ng-repeat="info in podcast.chooseYourself | orderBy: 'date' : true">
                <p class="title">Ep {{info.episode}}, {{info.title}}</p>
                <span class="views">{{info.views}}</span>
                <i ng-click="podcast.playPodcast(info.podcast, info.podcastOgg, 'Ep ' + info.episode + ', ' + info.title, info)" class="fa fa-play-circle"></i>
                <i ng-click="podcast.showInfo(info.info)" class="fa fa-info-circle info-button"></i>
            </div>         
        </tab>
    </tabset>
    <div id="current-podcast-holder" ng-if="podcast.currentPodcast">
        <button ng-click="podcast.goBack();" class="back">Back</button>
        <div id="current-podcast-img"><i class="fa fa-smile-o"></i></div>
        <span class="title">{{podcast.currentTitle}}</span>
        <div id="playPause" ng-click="podcast.playPause()">
            <i ng-if="!podcast.playerStatus.play" class="fa fa-play-circle-o" class="play"></i>
            <i ng-if="podcast.playerStatus.play" class="fa fa-pause"></i></div>
        <div class="clear"></div>
        <audio  id="podcastPlayer">
          <source ng-src="{{podcast.currentPodcastOgg}}" type="audio/ogg">
          <source ng-src="{{podcast.currentPodcast}}" type="audio/mpeg">
        Your browser does not support the audio element.
        </audio>
    </div>
</div>