<div id="recos" class="tab-format row-container">
    <h2 class="page-title">Books</h2>
    <tabset>
        <tab heading="Books by James">
            <div class="info" ng-repeat="info in recos.james | orderBy: 'date'">
            	<p class="title">{{info.title}}</p>
            	<p class="text">{{info.info}}</p>
                <img ng-src="{{info.image}}"></img>
            </div>         
        </tab>
        <tab heading="James' Recommendations">
            <div class="info" ng-repeat="info in recos.recos | orderBy: 'date' ">
            	<p class="title">{{info.title}}</p>
                <p>{{info.author}}</p>
                <a href="{{info.url}}" target="_blank"><img ng-src="{{info.image}}"></img></a>
            </div> 
        </tab>
    </tabset>
</div>