<div id="register" class="row-container">
    <div class="center">
        <div class="logo">
            <div class="logo-positioner">
                <i class="fa fa-paper-plane"></i>
            </div>
        </div>
        <h2 class="title">REGISTER</h2>
        <div class="clear"></div>
    </div>
    <div ng-if="!register.complete">
        <form name="myForm" novalidate>
            <div class="form-group">
                <label for="userName">*User Name</label>
                <input type="text" name="userName" ng-model="register.userName" class="form-control" required unique/>
                <div ng-messages="myForm.userName.$error" ng-if="myForm.userName.$dirty && myForm.userName.$touched">
                    <div ng-message="required">
                        Please enter a user name
                    </div>
                    <div ng-message="unique">
                        Username already taken!
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">*Password</label>
                <input type="password" name="password" ng-model="register.password" class="form-control" ng-minlength="6" required/>
                <div ng-messages="myForm.password.$error" ng-if="myForm.password.$dirty && myForm.password.$touched">
                    <div ng-message="required">
                        Please enter a password
                    </div>
                    <div ng-message="minlength">
                        Password needs to be at least 6 characters
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="firstName">*First Name</label>
                <input type="text" name="firstName" ng-model="register.firstName" class="form-control" required>
                <div ng-messages="myForm.firstName.$error" ng-if="myForm.firstName.$dirty && myForm.firstName.$touched">
                    <div ng-message="required">
                        Please enter first name
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="lastName">*Last Name</label>
                <input type="text" name="lastName"  ng-model="register.lastName" class="form-control" required>
                <div ng-messages="myForm.lastName.$error" ng-if="myForm.lastName.$dirty && myForm.lastName.$touched">
                    <div ng-message="required">
                        Please enter last name
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">*Email</label>
                <input type="email" name="email"  ng-model="register.email" class="form-control" required unique>
                <div ng-messages="myForm.email.$error" ng-if="myForm.email.$dirty && myForm.email.$touched">
                    <div ng-message="required">
                        Please enter email
                    </div>
                    <div ng-message="email">
                        Please enter a valid email
                    </div>
                    <div ng-message="unique">
                        Email already in use!
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="sex">Sex</label>
                <div class="input-group">
                        <input type="radio" name="sex" ng-model="register.sex" value="m">&nbsp;Male
                        &nbsp;&nbsp;
                        <input type="radio" name="sex" ng-model="register.sex" value="f">&nbsp;Female
                    
                </div>
            </div>
            <div class="form-group">
                <label for="age">Age</label>
                <select class="form-control" name="age" ng-model="register.age"> 
                    <option value="">Select Age</option>
                    <option value="{{ages.ageGroup}}" ng-repeat="ages in register.ageOptions">{{ages.ageGroup}}</option>
                </select> 
            </div>
            <div class="form-group">
                <input type="checkbox" name="terms" aria-label="..." ng-model="register.terms" required>
                <label for="terms">I agree to the <a href="#">Terms & Conditions</a></label>
                <div ng-messages="myForm.terms.$error" ng-if="myForm.terms.$dirty && myForm.terms.$touched">
                    <div ng-message="required">
                        Please agree to the Terms and Conditions
                    </div>
                </div>
            </div>
            <button ng-click="register.submitForm()" class="form-control" ng-disabled="myForm.$invalid">Submit</button>
        </form>
        <br/>
        <span class="is-required">* is required</span>
    </div>
    <div class="complete center" ng-if="register.complete">
        {{register.userNameFormatted}}, thanks for signing up!
        <br/>
        <i class="fa fa-spinner fa-spin"></i>

    </div>
</div>